# Put this in /lib/systemd/system
# Then
# sudo chmod 644 <filename>
# sudo systemctl daemon-reload
# sudo systemctl enable <filename>

[Unit]
Description=Davaiops.com
After=multi-user.target

[Service]
User=bobrock
Group=bobrock
Type=idle
ExecStart=/home/bobrock/venvs/davaiops/bin/python3 /home/bobrock/extras/davaiops/run.py -lvl debug
WorkingDirectory=/home/bobrock/extras/davaiops
Restart=on-failure

[Install]
WantedBy=multi-user.target