# Put this in /lib/systemd/system
# Then
# sudo chmod 644 <filename>
# sudo systemctl daemon-reload
# sudo systemctl enable <filename>

[Unit]
Description=Gunicorn instance to serve davaiops.com
After=multi-user.target

[Service]
User=bobrock
Group=www-data
Type=idle
WorkingDirectory=/home/bobrock/extras/davaiops
Environment="PATH=/home/bobrock/venvs/davaiops/bin"
ExecStart=/home/bobrock/venvs/davaiops/bin/gunicorn --workers 3 --bind unix:davaiops.sock -m 007 wsgi:app
Restart=on-failure

[Install]
WantedBy=multi-user.target