<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <!-- CSS -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/9b3bd4052a.js"></script>

        {% if title %}
            <title>davaiops.com - {{ title }}</title>
        {% else %}
            <title>davaiops.com</title>
        {% endif %}
    </head>
    <body>
        <!-- JS/JQuery -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap JavaScript Bundle with Popper (for dropdowns) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Flash message timeout -->
        <script type="text/javascript">
            window.setTimeout("for (const elem of document.getElementsByClassName('alert')) {elem.style.display = 'none';}", 2000);
        </script>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img class="nav-logo" src="{{ url_for('static', filename='images/favicon.png') }}" alt="20-sided die logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% set nav_dict = [
                        ('main.projects', 'Projects'),
                        ('main.contact', 'Contact')
                    ] -%}

                    {% for id, caption in nav_dict %}
                        <li class="nav-item {{'active' if request.endpoint == id}}">
                            <a class="nav-link" href="{{ url_for(id) }}">{{ caption }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
             <!-- Navbar Right Side -->
            <ul class="navbar-nav justify-content-right">
                {% if current_user.is_authenticated %}
                    {% set right_nav = [
                        ('admin.tables', 'Admin'),
                        ('users.account', 'Account'),
                        ('users.logout', 'Log Out'),
                    ] -%}
                {% else %}
                    {% set right_nav = [
                        ('users.login', 'Log In')
                    ] -%}
                {% endif %}
                {% for id, caption in right_nav %}
                    <li class="nav-item {{'active' if request.endpoint == id}}">
                        <a class="nav-link" href="{{ url_for(id) }}">{{ caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% block content %}
            <div id="content" class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert"> {{ message|capitalize }} </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if current_user.is_authenticated %}
                    {% with tasks =  current_user.get_tasks_in_progress() %}
                        {% if tasks %}
                            {% for task in tasks %}
                                <div class="alert alert-success" role="alert">
                                    {{ task.description }}
                                    <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
                {# Application content needs to be provided in the app_content block #}
                {% block app_content %}{% endblock app_content %}
            </div>
        {% endblock content %}
    </body>
</html>