/* NAV STUFF */
.nav-logo {
    width: 25px;
}


/* BLOG POST STUFF */
article {
    padding: 5px;
    border-bottom: 1px dotted #c5c5c5;
}
article small {
    margin-right: 5px;
}
.post-btn {
    font-size: 10px;
    margin-left: 5px;
    padding-bottom: 0;
    padding-top: 0;
}