body {
    padding-bottom: 70px;
    background-color: #2e2f35;
}
.accordion-button,
.accordion-button:not(.collapsed),
.accordion-item {
    background-color: #41424b;
    border: 1px #acacac;
}

h2,
h3,
fieldset,
small.text-muted,
.accordion-button,
.accordion-body,
.table-wrapper label,
.table-wrapper div[role="status"]{
    color: #acacac !important;
}

.actor-name {
    display: inline-flex;
    min-height: 20px;
    align-items: center;
}

.actor-1 {
    color: #28a745 !important;
}

.actor-2 {
    color: #17a2b8 !important;
}

.innerjoin-char {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: #ffc107;
}

#aij-results_wrapper .row:first-child {
    margin-bottom: 5px;
}

#aij-results_length label {
    display: inline-flex;
}
#aij-results_filter label {
    display: flex;
    float: right;
}

.centered-header {
    display: flex;
    justify-content: center;
}

.spinner-container {
    position: absolute;
    left: 50%;
}

/* NAV STUFF */
.nav-logo {
    width: 25px;
    margin-left: 10px;
}

.active {
    font-weight: bold;
}
li.nav-item.active a {
    color: #ffc107 !important;
}

/* BLOG POST STUFF */
article {
    padding: 5px;
    border-bottom: 1px dotted #c5c5c5;
}
article small {
    margin-right: 5px;
}
.post-btn {
    font-size: 10px;
    margin-left: 5px;
    padding-bottom: 0;
    padding-top: 0;
}